<h1>Help!</h1>

<h3>What is Nag?</h3>

<p>
  Nag is a personal micro-blogging system written for and by Ryan Wold. Nag was conceived on
  Dec 1, 2011, on Ryan's birthday, as a way to log personal check-ins, to serve as a personal
  journal and as a way to promote productivity.
</p>

<h3>How does it work?</h3>
<p>
  Nag is a Rails application that uses a SQLite db and runs on my local system. As a standalone,
  Nag prompts me every 25 minutes to log what I've been up to.
</p>
<p>
  Nag has a complementary browser extension for Google Chrome, called "Churn". Churn is
  a custom .js extension that adds specific behaviors to web pages. Specifically,
  it allows posts to "Touchpoints" in Nag, which track specific behavior, and also post a Checkin.
</p>
<ul>
  <li>Trello</li>
  <li>Google Calendar</li>
  <li>GMail</li>
</ul>

<h3>How should it be used?</h3>
<p>
  Nag should be used every 25 minutes or so to track activity. If a Google Calendar task item
  is marked as complete, a Touchpoint occurs. If a Trello Card is about to be archived as complete,
  be sure to click "Touchpoints" to get points. And, if an email in Gmail is about to be marked
  with a green checkmark, it too can be a Touchpoint which reflects in the Nag Checkin log.
</p>