<div class="row-fluid">
  <div class="span12">
    <div class="checkin" style="margin: 0 0 10px 0;">
      <span class="label <%= 'label-info' if checkin.created_at > Time.now.beginning_of_day %> pull-left" style="margin-right: 10px;">
        <%= link_to checkin.created_at.strftime("%I:%M%P"), edit_checkin_path(checkin) %>
        <%= icon :globe if checkin.latitude? %>
      </span>
      <div style="margin-left: 10px;">
        <%= raw markdown checkin.text %>
      </div>
    </div>
  </div>
</div>
