<script type="text/javascript">

    function setMessage() {
        var minutes = 25;
        var t = setTimeout("alertMessage()", 60000 * minutes);
    }
    function alertMessage() {
        alert("Nag.");
    }

    setMessage();
</script>
<div class="row">
  <div class="span6 columns">
    <div class="greeting">
      <p>
        Hi <%= @settings[:user] %>,<br/>
        Pardon, but what have you been up to?
      </p>

      <p>
        Sincerely, Your Lovely Nag
      </p>
    </div>

    <%= render 'form' %>
  </div>
  <div class="span10 columns">

    <h1>Checkins</h1>

    <div class="checkins">
      <% @checkins.each do |checkin| %>
          <div class="checkin" style="margin:  0 0 10px 0;">
          <span class="label success">
            <%= link_to (checkin.created_at - 8.hours).strftime("%I:%M%P"), edit_checkin_path(checkin) %>
          </span>
            &nbsp;

            <p class="checkin">
              <%= raw checkin.text %>
            </p>
          </div>
      <% end %>
    </div>

  </div>
</div>