<h1>Listing thoughts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @thoughts.each do |thought| %>
  <tr>
    <td><%= link_to 'Show', thought %></td>
    <td><%= link_to 'Edit', edit_thought_path(thought) %></td>
    <td><%= link_to 'Destroy', thought, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thought', new_thought_path %>
